---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import GallerySection from "../components/GallerySection.astro";
---

<Layout title="Gallery | MZ Auto Detail">
    <Header />
    <main>
        <GallerySection />
    </main>
    <Footer />
</Layout>

<style>
    main {
        padding-top: 2rem;
    }
</style>
