---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ServicesSection from "../components/ServicesSection.astro";
---

<Layout title="Services | MZ Auto Detail">
    <Header />
    <main>
        <ServicesSection />
    </main>
    <Footer />
</Layout>

<style>
    main {
        padding-top: 2rem;
    }
</style>
